<div class="features">

    {% for feature in site.features %} {% if feature.title %}
    <div class="feature">
        <div>
            <span class="fa-stack fa-1x">
                <i class="iconBack fas fa-circle fa-stack-2x"></i>
                <i class="iconTop fas fa-{{ feature.fontawesome_icon_name }} fa-stack-1x"></i>
            </span>
        </div>
        <div class="featureText">
            <h3>
                {% if feature.title == "hier geht's zum Fact Browser" %}
                <a href="{{ site.fact_browser_link }}">{{ feature.title }}</a>
                {% else  if feature.title == "podfaktisch - Faktenchecks zum hören!" %}
                <a href="{{ site.podcast_link }}">{{ feature.title }}</a>
                {% else  %}
                {{ feature.title }}
                {% endif %}
            </h3>
        </div>
    </div>
    {% endif %} {% endfor %}

</div>